:root {
    --background-color: #121212; /* Arka plan için temel renk: var(--background-color); */
    --primary-color: #00FFA3; /* Solana yeşili, temel vurgu rengi: var(--primary-color); */
    --secondary-color: #DC1FFF; /* Neon mor, alternatif vurgu rengi: var(--secondary-color); */
    --accent-color: #10BBE4; /* Turkuaz, ek vurgu rengi: var(--accent-color); */
    --button-color: #FF4D6A; /* Düğme için ana renk: var(--button-color); */
    --text-color: #E0E0E0; /* Başlık metin rengi: var(--text-color); */
    --subtext-color: #A3A3A3; /* Alt metin ve açıklamalar için gri ton: var(--subtext-color); */
    --hover-color: #26FF91; /* Hover efekti için renk: var(--hover-color); */
--background-gradient: linear-gradient(45deg, var(--rainbow2-color), var(--rainbow-color));
--background-gradient2: radial-gradient(circle, var(--primary-color), var(--secondary-color));
    --rainbow-color: #4d194d; /* Solana yeşili, temel vurgu rengi: var(--primary-color); */
    --rainbow2-color: #006466; /* Neon mor, alternatif vurgu rengi: var(--secondary-color); */
}


.section {
    margin-bottom: 50px; /* Adjust to ensure the sections are spaced well */
    padding-bottom: 20px; /* Add padding if needed, but avoid large values */
    display: none; /* Tüm bölümleri başlangıçta gizle */
    padding: 50px;
    color: var(--secondary-color);
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease; /* Opaklık ve konum geçişi */
}

.section.active {
    display: block; /* Sadece aktif bölümü göster */
    opacity: 1; /* Aktif bölümün saydamlığını tam göster */
    transform: translateY(0); /* Yukarı kaydır */
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

body {
 overflow: auto; /* Ensure body and html can scroll */
    margin: 0;
 min-height: 100%; /* Make sure the body has enough height to scroll */
    display: flex;
    flex-direction: column;
  overflow-x: hidden;
    justify-content: center;
    align-items: center;
    color: var(--primary-color); /* Metinlerde daha açık bir gri */
  font-family: 'Funnel Display', sans-serif;    background: var(--background-gradient);
    animation: gradientAnimation 15s ease infinite; /* Arka planda hareketli renk değişimi */
    background-size: 400% 400%;
}


h1, h2, h3 {
    color: var(--primary-color); 
    //-webkit-text-stroke: 1.5px #000000; /* Dış çizgi kalınlığı ve rengi */
}

p {
    color: var(--text-color); /* Paragraflarda daha yumuşak bir gri */
}

.container {
    text-align: center;
    color: var(--secondary-color);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--text-color);
    border: 2px solid #FED8B1;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.button:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7); /* Parlama efekti */
    transform: scale(1.1); /* Butonları biraz büyüt */
    transition: transform 0.3s ease, box-shadow 0.3s ease;c
}

.card-container {
    display: flex;
    width: 600px;
    margin: 20px auto;
    position: relative;
    overflow: hidden; /* Kartların konteyner dışına taşmaması için */
}

.card {
    background-color: var(--background-color); /* Koyu arka plan */
    color: var(--text-color);
    min-width: 200px; /* Minimum genişlik */
    width: 550px; /* Genişliği artırdık */
    padding: 40px; /* İç boşluk artırıldı */
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Gölgeleri belirginleştir */
    display: none; /* Başlangıçta kartları gizle */
    background-image: url('path/to/image.jpg'); /* Kartlarda arka plan resmi */
    background-size: cover;
    background-position: center;
    font-size: 1.2em; /* Yazı boyutunu artırdık */
    line-height: 1.5; /* Satır yüksekliğini artırdık */
    text-align: center; /* Metni ortaladık */
  font-family: 'Funnel Display', sans-serif;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    overflow-y: auto; /* Kart içeriğinin taşması durumunda kaydırma sağlar */
    max-height: 80vh; /* Kart yüksekliğini maksimum ekran yüksekliğinin %80'i ile sınırlandırır */
}

.card.active {
    border: 2px solid var(--text-color); 
    display: block; /* Sadece aktif kartı göster */
    opacity: 1;
    transform: translateY(0); /* Yukarıdan kayarak gelsin */
}

/* Hover animasyonu */
.card:hover {
    transform: scale(1.05); /* Kartı büyütme */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Daha büyük gölge */
}

.card.active:hover {
    transform: scale(1.05); /* Üzerine gelince kartı biraz büyüt */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* Gölgeleri daha da artır */
}

/* Kart başlıkları ve metinlerin kontrastı için */
.card h3 {
    color: var(--text-color); 
    margin-bottom: 10px;
}

.card p {
    color: var(--text-color); /* Kart metni daha açık gri */
}

/* Kart geçişleri */
.card-container {
    position: relative;
    overflow: hidden;
}

html {
    scroll-behavior: smooth; /* Akıcı kaydırma özelliği */
 overflow: auto; /* Ensure body and html can scroll */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.large-text {
    font-size: 36px; /* Sadece bu sınıfa sahip metinleri büyüt */
}

.normal-text {
    font-size: 18px; /* Normal metin boyutu */
}

/* Sola hizalanmış liste */
.left-aligned-list {
    list-style-type: disc; /* Nokta stilinde madde işareti */
    padding-left: 20px;    /* Sol tarafta boşluk */
    text-align: left;      /* Sola hizalama */
    max-width: 800px;      /* İçeriği sınırlamak için genişlik ayarı */
    margin: 0 auto;        /* Ortalamayı koru ancak içerik sola yaslı */
}

.left-aligned-list li {
    margin-bottom: 10px;   /* Maddeler arasında boşluk */
    line-height: 1.6;      /* Satır yüksekliği ayarı */
    color: var(--text-color);           /* Yazı rengi */
    font-size: 18px;       /* Yazı boyutu */
}

        /* Social Buttons Container */
        .socials-container {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 20px;
        }
        /* Social Buttons Styling */
        .social-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--button-color);
            color: var(--text-color);
            font-size: 24px;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.2s;
            position: relative;
        }
        .social-button:hover {
            background-color: var(--hover-color);
            transform: scale(1.1);
        }
        /* Tooltip Styling */
        .social-button span {
            display: none;
            position: absolute;
            bottom: -25px;
            background-color: var(--button-color);
            color: var(--text-color);
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 12px;
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .social-button:hover span {
            display: block;
            opacity: 1;
        }
#canvas-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#cat-image {
    width: 290px;
    height: 290px;
    position: relative;
    z-index: 1;
}

#hat-image {
    width: 300px; /* Kedinin genişliğine uyumlu */
    height: 300px; /* Oranı koruyarak yüksekliği ayarla */
    position: absolute; /* Kedinin üzerine yerleştir */
    top: 0; /* Kediyle hizala */
    left: 0; /* Kediyle hizala */
    z-index: 2;
}


#hat-options {
    text-align: center;
    margin-top: 20px;
}

#hat-options button {
    padding: 10px 15px;
    margin: 5px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#hat-options button:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
}

#download-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#download-button:hover {
    background-color: var(--button-color);
    color: var(--text-color);
}

#socials .socials-container a {
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 16px; /* Adjust text size */
}

#socials .socials-container img {
    width: 40px; /* Adjust icon size */
    height: 40px; /* Keep the aspect ratio */
    margin-bottom: 5px; /* Space between image and text */
    transition: transform 0.3s ease; /* Optional: for a hover effect */
}

#socials .socials-container a:hover img {
    transform: scale(1.1); /* Optional: scale up icon when hovered */
}

#socials .socials-container a:hover {
    color: var(--text-color); /* Optional: change text color on hover */
}

#home {
height: auto; /* Ensure the home section can expand based on content */
  position: relative;
  margin-bottom: 50px; /* Adjust space between sections */
  padding: 20px;
 overflow: visible; /* Make sure the home section doesn't restrict scrolling */
}

#home h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

#home p {
  font-size: 1rem;
  margin-bottom: 20px;
}

#home canvas {
  display: block;
  margin: 0 auto; /* Center the canvas */
  max-width: 100%;
  height: auto;
}

#pashkets-frame {
    position: relative; /* Avoid using absolute unless necessary */
    margin-top: 30px;
    padding: 40px; /* Daha fazla padding ile boyutu artırdık */
    width: 1500px; /* Yatay eksende %100 genişlik */
    background: var(--background-gradient);
    animation: gradientAnimation 15s ease infinite; /* Arka planda hareketli renk değişimi */
    border-radius: 8px; /* Optional rounded corners */
}

.frame-container {
    display: flex;
    justify-content: space-around;
    gap: 30px; /* Daha fazla boşluk */
}

.frame-item {
    text-align: center;
}

.frame-image {
    border-radius: 50%; /* Make images circular */
    width: 120px; /* Genişlik ve yükseklik artırıldı */
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px; /* Alt boşluk artırıldı */
}

.frame-text {
    font-size: 1.2rem; /* Font boyutu artırıldı */
    color: var(--text-color);
}

@media (max-width: 1080px) {
    body {
        padding: 0; /* İç boşluğu kaldır */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1, h2, h3 {
        font-size: 1.3em; /* Başlık boyutunu optimize et */
        text-align: center;
    }

    p, li {
        font-size: 14px; /* Yazı boyutunu mobil için küçült */
        line-height: 1.5; /* Satır aralığı */
        text-align: center; /* Yazıyı ortaya hizala */
        color: var(--text-color);
    }

    #home {
        padding: 10px; /* Ana bölüm padding */
        width: 100%;
        max-width: 1080px; /* İçerik genişliğini sınırla */
        box-sizing: border-box; /* Kenar boşluklarını hesaba kat */
    }

    #home canvas,
    #preOrderChart {
        max-width: 100%; /* Kanvas ve grafik ekran genişliğine uyumlu */
        height: auto; 
        margin: 0 auto; /* Ortala */
        display: block; /* Grafik tamamen gizlenir */

    }

    .socials-container {
        flex-direction: column; /* Alt alta sıralar */
        align-items: center; /* Ortalar */
        gap: 10px; /* Aralarındaki boşluk */
    }

    .social-button {
        width: 50px; /* Daha küçük butonlar */
        height: 50px;
        font-size: 18px; /* Yazı boyutunu küçült */
    }

    .card-container {
        display: flex;
        flex-wrap: wrap; /* Kartları ekran genişliğine göre alt alta ya da yan yana hizala */
        justify-content: center; /* Ortala */
        gap: 10px; /* Kartlar arası boşluk */
        width: 100%; /* Tüm ekran genişliğini kullan */
        padding: 10px; /* İç boşluk */
        box-sizing: border-box; /* Padding'i hesaba kat */
    }

.card {
    flex: 1 1 calc(50% - 20px); /* Kartlar genişliklerini otomatik ayarlar */
    max-width: 400px; /* Maksimum genişlik */
    padding: 15px; /* İç boşluk */
    font-size: 1em; /* Yazı boyutu */
    text-align: center; /* Ortala */
    border-radius: 8px;
    background: inherit; /* Arka plan rengini orijinal yap */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    box-sizing: border-box;
}


    .button-container {
        display: flex;
        flex-wrap: wrap; /* Butonları ekran genişliğine göre hizala */
        justify-content: center; /* Ortala */
        gap: 10px; /* Butonlar arası boşluk */
    }

    .button {
        padding: 10px 15px; /* Daha küçük padding */
        font-size: 14px; /* Yazı boyutunu azalt */
        border-radius: 8px;
        width: auto; /* Buton genişliği içeriğe göre ayarlanır */
        text-align: center;
    }

.frame-container {
    display: flex;
    flex-direction: column; /* Alt alta diz */
    align-items: center; /* Ortala */
    gap: 10px; /* İkonlar arası boşluk */
    width: 100%; /* Tüm genişlik */
    padding: 10px;
}

.frame-image {
    width: 60px; /* Daha küçük resimler */
    height: 60px;
    border-radius: 50%; /* Daire yap */
    object-fit: cover; /* Resmi düzgün kırp */
    margin: 0 auto; /* Ortala */
}

.frame-text {
    font-size: 12px; /* Yazıyı küçült */
    text-align: center; /* Yazıyı ortala */
    margin-top: 5px;
}
 
}

#hat-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#hat-options button {
    padding: 10px 15px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#hat-options button:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
}

#memes {
    padding: 10px;
    background-color: var(--background-color);
    text-align: center;
}

#memes .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.memes-container {
    display: flex;
    overflow-x: auto; /* Yatay kaydırma çubuğu */
    overflow-y: hidden; /* Dikey kaydırma engellenir */
    gap: 10px;
    padding: 10px;
    white-space: nowrap; /* İçeriği yatayda sıralar */
    max-width: 100%; /* Ekran genişliğine uyumlu */
    box-sizing: border-box; /* Padding'in genişlik hesaplamalarına dahil edilmesi */
}

.meme-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.meme-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.meme-image.enlarged {
    transform: scale(1.5);
    z-index: 10;
    cursor: zoom-out;
}

.memes-container::-webkit-scrollbar {
    height: 8px; /* Kaydırma çubuğunun yüksekliği */
}

.memes-container::-webkit-scrollbar-thumb {
    background: var(--background-gradient2);
    animation: gradientAnimation 15s ease infinite; /* Arka planda hareketli renk değişimi */
    border-radius: 10px;
}

/* Yazılar için kutu tasarımı */
.content-box {
    background-color: var(--background-color); /* Arka plan rengi */
    border: 2px solid #ccc; /* Çerçeve rengi */
    border-radius: 10px; /* Köşeleri yuvarlama */
    padding: 20px; /* İçerik boşluğu */
    margin-top: 20px; /* Üstten boşluk */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

/* Yazı renkleri ve boyutları */
.content-box ul {
    color: var(--text-color); /* Yazı rengi */
    font-size: 16px;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%; /* Tam genişlik */
    background-color: black; /* Arka plan rengi */
}

.navbar .title {
    margin: 0;
}

.navbar .title h1 {
    color: white;
    font-size: 24px; /* Başlık boyutu */
    margin-left: 100px; /* Başlık sola yaslandı */
}

.navbar .button-container {
    display: flex;
    gap: 5px; /* Butonlar arasındaki boşluk */
    margin-left: auto; /* Butonları sağa itiyor */
    margin-right: 100px; /* Butonları sağa yapıştırırken sağda boşluk */
    align-items: center; /* Butonları dikeyde ortalar */
    height: 100%; /* Konteynerin tam yüksekliği almasını sağlar */
}

.navbar .button {
    background-color: #333333; /* Buton rengi */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
width: 80px; /* Buton genişliği */
    cursor: pointer;
    display: flex;
flex; justify-content: center;
    align-items: center; /* Butonları dikeyde ortalar */
    margin-top: -20px; /* Butonları 10px yukarı kaydırır */
}

.navbar .button:hover {
    background-color: #ff7878; /* Hover efekti */
}



/* İçerik Konteyneri */
.content-container {
    display: flex;
    align-items: center; /* Logo ve içeriği dikeyde ortalar */
    padding: 40px; /* Konteynerin iç boşluğunu artırır */

}

/* Logo */
.logo {
    margin-right: 350px; /* Logo ile içerik arasındaki boşluk */
}

.logo img {
    height: 400px; /* Logo boyutunu biraz daha büyüttü */
}

/* Ana içerik */
.content {
    color: white;
display: flex; 
flex-direction: column;
justify-content: center; /* İçeriği dikeyde ortalar */
}

.content h1 {
    font-size: 120px; /* Başlık boyutunu artırdı */
    margin: -20px 0;
}

.content h2 {
    font-size: 35px;
    margin: 0px 0;
color: white;
}

.content h3 {
    font-size: 25px; /* Başlık boyutunu artırdı */
    margin: 30px 0;
color: white;
}








